{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"singleAttributePerLine": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/screens/(.*)$",
		"^@/entities/(.*)$",
		"^@/features/(.*)$",
		"^@/widgets/(.*)$",
		"^@/shared/(.*)$",
		"^@/api/(.*)$",
		"^@/components/(.*)$",
		"^@/constants/(.*)$",
		"^@/hooks/(.*)$",
		"^@/config/(.*)$",
		"^@/settings/(.*)$",
		"^@/store/(.*)$",
		"^@/utils/(.*)$",
		"^../(.*)$",
		"^./(.*)$",
		"(.scss)$",
		"(.css)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
